$bp: (
  mobile: (
    min: 0px,
    max: 480px,
  ),
  tablet: (
    min: 481px,
    max: 820px,
  ),
  smallScreen: (
    min: 821px,
    max: 1440px,
  ),
  largScreen: (
    min: 1441px,
    max: 2440px,
  ),
  extraLarg: (
    min: 2441px,
    max: 3440px,
  ),
);

@mixin Query($screen) {
  @each $key, $value in $bp {
    @if ($screen == $key) {
      @media (min-width: map-get($value, min)) and (max-width: map-get($value, max)) {
        @content;
      }
    }
    @if ($screen == "extraLarg") {
      @media (min-width: 2441px) {
        @content;
      }
    }
  }
}
